
<form method="POST">
    {{ form.hidden_tag() }}

    {% for field in form if field.widget.input_type != 'hidden'%}

    <div class='form-group'>
        {% if field == form.submit %}
            {{field(class_="btn btn-primary")}}
        {% else %}
            {{ field.label }}
            {{ field(class="form-control") }}
        {% endif %}

        <span>
            {% if field.errors %}
                {% for error in field.errors %}
	                <p class="alert alert-danger">{{error}}</p>
                {% endfor %}
            {% endif %}
        </span>

    </div>

    {% endfor %}
</form>
